/* Make the container full screen */
.info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #313334;
    padding: 20px;
    padding-left: 80px;
    box-sizing: border-box;
}

/* Image container */
.image-container {
    position: relative;
    width: 40%;
    margin-right: 5%; /* Space between image and details */
}

.profile-image {
    width: 100%; /* Take up 40% of page width due to .image-container */
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

/* GIF Styling */
.hover-gif {
    position: absolute;
    top: -80px;
    left: 220px;
    /*width: 100px;  Original size */
    height: 100px;
    display: none;
    border-radius: 10%;
    object-fit: cover;
}

/* Show GIF on hover */
.image-container:hover .hover-gif {
    display: block;
    animation: fadeInDown 0.5s ease forwards;
}

/* Image hover effect */
.image-container:hover .profile-image {
    transform: translateY(-10px);
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Info details */
.info-details {
    width: 55%; /* Adjusts width for content */
    display: flex;
    flex-direction: column;
}

.info-name,
.info-username,
.info-email,
.info-number,
.info-role {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1.5em;
    margin: 10px 0;
    opacity: 0.8;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Animation for info text on hover */
.info-details:hover .info-name,
.info-details:hover .info-username,
.info-details:hover .info-email,
.info-details:hover .info-number,
.info-details:hover .info-role {
    transform: translateX(10px);
    opacity: 1;
}