@import url("https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css");
.projects-container{
  display: table-column;
  width: 100%;
  background-color: #2a2a2a;
  color: #e0e0e0;
}

.project-section {
  display: flex;
  background-color: #404040;
  border-radius: 40px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3), 0 6px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  height: 200px;
  width: 97%;
  margin: 25px;
  
  
}

.project-section:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.4), 0 10px 10px rgba(0, 0, 0, 0.3);
}

.project-image {
  padding: 15px;
  flex:1;
  max-width: 40%;
}

.project-image img {
  width: 100%;
  height: 100%;
  border-radius: 80px;
  object-fit: cover;
}

.project-content {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: relative;
}

.project-title {
  font-size: 2.5rem;
  color: #c0c0c0;
  margin: 0;
}

.project-link {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.5rem;
  color: #b8b8b8;
  transition: color 0.3s ease;
}

.project-link:hover {
  color: #e0e0e0;
}
